.build
.DS_Store
*.xcuserstate
xcuserdata/
*.pbxuser
xcuserdata
*.cer
*.mobileprovision
fastlane/test_output
fastlane/report.xml
fastlane/README.md
fastlane/Preview.html
fastlane/screenshots/**/*.png
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.p8
Sources/Integration/Resources/udContact-test.bin
Sources/Integration/Resources/ud.elixxir.io.crt
Sources/GoogleDriveFeature/Resources/GoogleDrive-Keys.plist
Sources/DropboxFeature/Resources/Dropbox-Keys.plist
App/client-ios/Resources/GoogleService-Info.plist